<% include ../partials/boilerplate %>

<form method='POST' action='/hero'>
  <input name='name' type='text' placeholder='type' />
  <input name='real name' type='text' placeholder='type' />
  <input name='location' type='text' placeholder='type' />
  <input name='description' type='text' placeholder='type' />

  <input type='submit' value='pow!' />
</form>

<% include ../partials/end %>